<div class="container mt-5">
  <h1 class="text-center mb-5">Jugadores</h1>
  <div class="row position-relative m-4">
    <div *ngFor="let item of players" class="card col-md-5 mx-2 my-2">
      <div class="card-body row ">
            <div class="col-3 text-center">
              <img [src]="item.urlImg" class="pd-0 img-thumbnail rounded-circle bg-info" alt="...">
            </div>
            <div class="col-6 mt-4 text-center">
              <h3>{{item.username| uppercase}}</h3>
            </div>
            <div class="col-3 mt-4 text-center">
              <h3>{{item.score}}</h3>
            </div>
        </div>
      </div>
  </div>
  </div>
